@model WebCocktailBar.Models.Product.ProductDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="title">Product Details</h1>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@Html.DisplayFor(model => model.Picture)" alt="Product image" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="prep"><strong>Preparation method:</strong> @Html.DisplayFor(model => model.MethodOfPreparation)</p>
                    <h2 class="card-title">@Html.DisplayFor(model => model.ProductName)</h2>
                    <p class="card-text">
                        <strong>Taste:</strong> @Html.DisplayFor(model => model.TasteName)<br>
                        <strong>Category:</strong> @Html.DisplayFor(model => model.CategoryName)<br>
                        <strong>Price:</strong> @Html.DisplayFor(model => model.Price)<br>
                        <strong>Discount:</strong> @Html.DisplayFor(model => model.Discount)<br>
                        <strong>Quantity:</strong> @Html.DisplayFor(model => model.Quantity)<br>
                    </p>
                    <div class="btn-group" role="group" aria-label="Product actions">
                        <a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })"><i class="fas fa-edit"></i> Edit</a>
                        <a class="btn btn-secondary" href="@Url.Action("Index")"><i class="fas fa-arrow-left"></i> Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    body {
        background-color: #F6EEE0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
    }
    .prep {
        text-align: right;
    }

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 2rem;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 2rem;
        color: #1D2B53;
        text-align: center;
    }

    .card {
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .card-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .card-text {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .btn-group {
        margin-top: 1.5rem;
    }

    .btn {
        border-radius: 0.5rem;
        padding: 0.5rem 2rem;
        transition: all 0.3s ease;
    }

    .btn-primary {
        background-color: #1D2B53;
        color: #fff;
    }

    .btn-primary:hover {
        background-color: #F38A31;
    }

    .btn-secondary {
        background-color: #F38A31;
        color: #fff;
    }
    .btn-secondary:hover {
  background-color: #1D2C4B;
  border-color: #1D2C4B;
  color: #fff;
}
</style>
